
.error-message {
  color: #b12704;
  background-color: #fcebea;
  border: 1px solid #b12704;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 13px;
  width: 100%;
  box-sizing: border-box;
}

.success-message {
  color: #212121;
  background-color: #c8e6c9;
  border: 1px solid  #388e3c;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 13px;
  width: 100%;
  box-sizing: border-box;
}


.login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
}

.login__logo {
  margin-bottom: 5px;
  width: 150px;
  object-fit: contain;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  width: 350px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.form-container > h1 {
  font-weight: 500;
  font-size: 28px;
  margin-bottom: 20px;
}

.form-container > form > h5 {
  margin-bottom: 5px;
  font-size: 13px;
}

.form-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #a6a6a6;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 13px;
}

.form-input:focus {
  border-color: #e77600;
  box-shadow: 0 0 3px rgba(228, 121, 17, 0.5);
  outline: none;
}

.form-button {
  width: 100%;
  padding: 10px;
  background-color: #f0c14b;
  border: 1px solid #a88734;
  color: #111;
  border-radius: 3px;
  cursor: pointer;
  font-size: 13px;
  margin-top: 10px;
}

.form-button:hover {
  background-color: #e7b33e;
}

.form-buttonreg {
  width: 100%;
  padding: 10px;
  background-color: #f7f7f7;
  border: 1px solid #adb1b8;
  color: #111;
  border-radius: 3px;
  cursor: pointer;
  font-size: 13px;
  margin-top: 10px;
}

.form-buttonreg:hover {
  background-color: #e6e6e6;
}

p {
  margin-left: 0.1rem;
 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  font-size: 12px;
  color: #555;
}
