.MuiStepIcon-root {
  color: #ff9900 !important; /* Cor do ícone no Stepper */
}

.MuiStepIcon-root.Mui-active {
  color: #232f3e !important; /* Cor do ícone ativo */
}

.MuiStepIcon-text {
  fill: white !important; /* Cor do texto dentro dos ícones do Stepper */
}

.MuiButton-root {
  background-color: #ff9900 !important; /* Cor dos botões */
  color: white !important;
}

.MuiButton-root:hover {
  background-color: #e68a00 !important;
}

.MuiBox-root {
  margin-top: 20px;
}

.MuiFormLabel-root {
  color: black !important; /* Define a cor das legendas como preta */
}

.MuiFormControl-root {
  margin-bottom: 20px !important;
}

.MuiInputBase-input {
  background-color: white !important;
}
